@page
@model Valuator.Pages.SummaryModel
@{
}
<p id="rank">Оценка содержания: @Model.Rank</p>
<p id="summarity">Плагиат: @Model.Similarity</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    hubConnection.on("Receive", (type, value) => {
        console.log(type, value);

        let elt = document.getElementById(type);

        elt.textContent = "Оценка содержания: " + value;
    });

    hubConnection.start()
        .then(() => {
            console.log("Hub connection started")
        })
        .catch((err) => {
            return console.error(err.toString());
        });
</script>